.button {
    display: block;
    border: none;
    background: #ffc80a;
    color: #2236b3;
    box-shadow: -0.5em 0.5em 0 0 #0b59d6;
    text-transform: uppercase;

    font-family: Montserrat-Bold;
    color: #2236B3;
    letter-spacing: 2.8px;

    padding: 1em 1.5em;
    cursor: pointer;
    text-decoration: none;
}

.button:hover, .button:focus {
    /*opacity: 0.7;*/
    color: #ffc80a;
    background: #0b59d6;
    box-shadow: -0.5em 0.5em 0 0 #ffc80a;
}