.who-section {
    background-color: #ffc80a;
}

.who-section__members {
    display: flex;
    flex-wrap: wrap;
    max-width: 640px;
    justify-content: space-between;
}

.who-section__members > * {
    width: 100%;
}

@media (min-width: 640px) {
    .who-section__members > * {
        width: calc(100% / 2 - 10px);
    }
}