.header-section {
    background: black;
    color: white;
    background-image: url(./python-italia.jpg);
    background-position: bottom center;
    background-size: cover;
}

.header-section svg {
    width: 100%;
    height: auto;
    fill: white;

    max-width: 500px;
}