.member {
    color: #0b59d6;
    border: 4px solid #0b59d6;

    padding: 1rem;
}

.member dt {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #0B59D6;
    letter-spacing: 0;
    line-height: 35px;

    text-transform: uppercase;
}

.member dd {
    margin: 0;
    font-style: italic;
}

@media (min-width: 500px) {
    .member dt {
        font-size: 26px;
    }
}